HELP.md

target/
Backend/target/
!**/src/main/**/target/
!**/src/test/**/target/

Backend/src/main/resources/keys/*.json

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Wrapper de Maven
mvnw
mvnw.cmd
.mvn/
